body {
  background-color: #000000;
  margin: 20px;
}

.weather {
  border: 2px solid rgb(255, 235, 134);
  border-radius: 10px;
  margin: 30px auto;
  padding: 15px;
}

.weather form {
  margin-bottom: 20px;
}

.weather h1 {
  font-size: 30px;
  font-weight: 400;
  margin: 20px 0 10 0;
  line-height: 29px;
}

.weather ul {
  margin: 0;
  padding: 0;
}
.weather h1,
li,
span {
  color: rgb(251, 204, 35);
}

.weather li {
  font-size: 16px;
  font-weight: 200;
  line-height: 19px;
  list-style: none;
}

.weather canvas {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  margin-bottom: -8px;
  display: inline-block;
}

.temperature {
  font-size: 55px;
  font-weight: 400;
  position: relative;
  font-weight: 400px;
  top: -2px;
}

.weather .unit {
  font-size: 12px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -40px;
  margin-left: -5px;
}
